<div class="comments" style="margin-top: 2rem;">
    <script src="https://giscus.app/client.js"
            data-repo="dayio/dayio.dev"
            data-repo-id="R_kgDOR803dg"
            data-category="Comments"
            data-category-id="DIC_kwDOR803ds4C7zgv"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
</div>

<script>
    function updateGiscusTheme() {

        const isDark = document.documentElement.classList.contains('dark') || document.body.getAttribute('data-theme') === 'dark';

        const theme = isDark ? 'dark' : 'light';

        const message = {
            giscus: {
                setConfig: {
                    theme: theme,
                },
            },
        };

        const iframe = document.querySelector('iframe.giscus-frame');

        if (iframe) {
            iframe.contentWindow.postMessage(message, 'https://giscus.app');
        }

    }

    const observer = new MutationObserver(updateGiscusTheme);

    observer.observe(document.documentElement, {attributes: true, attributeFilter: ['class', 'data-theme']});
</script>
